svg {
  border                       : 1px solid black;
}
/* Configure the axis */
.axis path,
.axis line {
  fill                         : none;
  stroke                       : black;
  shape-rendering              : crispEdges;
}
.axis text {
  font-family                  : sans-serif;
  font-size                    : 11px;
}
/* Configure the grid lines */
.grid .tick {
  stroke                       : lightgrey;
  opacity                      : 0.7;
}
.grid path {
  stroke-width                 : 0;
}
/* Configure the curves */
.curve {
  fill                         : none;
  stroke                       : black;
  stroke-width                 : 1.0;
  opacity                      : 0.7;
}
.curve.red {
  stroke                       : red;
}
.curve.green {
  stroke                       : green;
}
.curve.blue {
  stroke                       : blue;
}
.curve.selected {
  stroke-width                 : 1.5;
}
.curve.active {
  stroke-width                 : 2.0;
}
/* Configure images */
img {
  width                        : 580px;
  border                       : 1px solid black;
  margin                       : 10px;
}
