/* Configure the axis */
.axis path,
.axis line {
  fill                         : none;
  stroke                       : black;
  shape-rendering              : crispEdges;
}
.axis text {
  font-family                  : sans-serif;
  font-size                    : 11px;
}
/* Configure the grid lines */
.grid .tick {
  stroke                       : lightgrey;
  opacity                      : 0.7;
}
.grid path {
  stroke-width                 : 0;
}
/* Configure the curves */
.curve {
  fill                         : none;
  stroke                       : black;
  stroke-width                 : 0.5;
  opacity                      : 0.7;
}
.curve.active {
  stroke                       : red;
  stroke-width                 : 2.0;
}
.curve.selected {
  stroke                       : blue;
  stroke-width                 : 1.5;
}
